.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  grid-template-columns: 60px 1fr 374px;
  overflow: hidden;
  margin: 58px auto 50px;
  position: relative;

  @media screen and(max-width: 990px) {
    grid-template-columns: 60px 1fr;
    margin: 58px 20px 50px
  }

  @media screen and(max-width: 590px) {
    grid-template-columns: 1fr;
    margin: 58px 8px 50px;
  }
}


.card-container {
  display: flex;
  flex-direction: column;
  border: 2px solid $color-2;
  margin: 10px;
  padding: 16px;
  border-radius: 20px;
  margin: 8px auto;
  position: relative;
  min-height: 100px;
  width: 80%;
  background-color: #fff5f6;
  

  @media screen and(max-width: 590px) {
    grid-template-columns: 1fr;
  }
  @media screen and(max-width: 440px) {
    padding-top: 26px;
  }

  .card-header {
    display: flex;
    font-family: "font-3", serif;
    font-size: larger;
    align-items: center;

    .pseudo{
        margin-left: 10px;
    }

    img {
      margin: 2px
      ;
      height: 52px;
      width: 52px;
      border-radius: 50px;
      box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
      object-fit: cover;

      @media screen and(max-width: 590px) {
        height: 40px;
        width: 40px;
        margin-left: 18px;
        border-radius: 14px;
      }
    }
    @media screen and(max-width: 590px) {
      position: absolute;
      transform: translate(17px, 18px);
    }
  }

    .card-pic {
      width: 100%;
      border-radius: 6px;
      margin-top: 12px;
      box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
    }

    .button-container {
      justify-content: space-between;
      display: flex;

      height: 35px;
      .modifier{
        display: flex;
        align-items: center;
      }

      div {
        padding: 5px 9px;
        margin-left: 5px;
        background: $color-2;
        border-radius: 50px;
        transition: 0.1s;
        cursor: pointer;

        &:hover {
          transform: scale(1.07);
        }

        img {
          height: 16px;
          width: 16px;
          transform: translateY(3px);
        }
      
    }
    .card-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      padding: 12px 0 4px;

      img {
        height: 22px;
        width: 22px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          transform: scale(1.2);
        }
      }
  
      .like-container {
        display: flex;
        align-items: center;
      }
    }
    
    
    
    .like-container {
      span {
        font-size: 1.02rem;
        position: absolute;
        transform: translate(8px, -1px);
      }
    }
  }
  
    textarea {
      width: 100% !important;
      height: 80px;
      border: 2px solid #FFD7D7;
      padding: 10px;
      font-family: $font-3;
      color: #4E5166;
    }
    .button-container {
      text-align: right;

      button {
        margin: 0;
        margin-left: 5px;
        width: 150px;

        &:nth-child(1) {
          background: $color-1;
          color: $color-2;
        }
      }
    }
  }
